.title{
    font-family: ariel;
    background: gray;
    line-height: 2;
    font-variant: small-caps;
    text-align: center;
}
.image{
    float: left;
    width: 150px;
}
.description{
    padding-left: 200px;
    padding-top: 1px;
}

.title1{
    background: grey;
    text-align: center;
}
.notes{
    margin-top: 100px;
    line-height: 1.5;
    text-align: left;
}